  #form-content {
        display: flex;
        flex-direction: column;
        .form-container {
        position: relative;
        max-width: 420px;
        min-width: 320px;
        height: auto;
        margin-bottom: 30px;
    
        //   background-color: lightskyblue;
    
        #form-container {
            position: relative;
            width: 100%;
            height: auto;
            // background-color: lightcoral;
            // overflow: hidden;
    
            .form-inner-container {
                // background-color: slateblue;
    
                .field-name {
                display: block;
                margin-bottom: 3px;
                }
                input[type="text"],
                input[type="email"] {
                width: calc(100% - 20px);
                height: 35px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding-left: 1em;
                margin-bottom: 10px;
                }
    
                textarea {
                width: calc(100% - 20px);
                height: 80px;
                border: 1px solid #ccc;
                border-radius: 5px;
                padding-left: 1em;
                padding-top: 1em;
                margin-bottom: 10px;
                }
    
                .form-submit-button-container {
                text-align: center;
                margin-top: 10px;
                margin-bottom: 20px;
                }
            }
            
        }
        }
  }

  .form-section-block {
      margin-bottom: 50px;
    //   background-color: lightgreen;
  }

  #form-styling {
    position: relative;
    margin-top: 1em;
    padding-left: 10px;
    padding-right: 10px;
  }

  .form-title-container {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }


  .form-container-group-title {
    font-weight: bold;
    margin-block-end: 8px;
  }

  .form-container-group {
      display: flex;
      justify-content: center;
  }


  .form-add-button {
      position: relative;
      width: 25px;
      height: 25px;
      margin-right: 10px;
      border-radius: 50%;
      border: 2px solid black;
      background-color: white;
  }

  .form-container-element {
      
  }

  .checkbox-container {
      position: relative;
      width: 50px;
      height: 60px;
      border: 1px solid black;
      border-radius: 5px;
      margin-right: 10px;
      margin-bottom: 10px;
      overflow: hidden;

  }

  .select-active {
      background-color: #11CDEF !important;
      opacity: 1 !important;

      > p {
          color: white !important;
      }
  }

  .checkbox-title-container {
      position: relative;
      width: 100%;
      height: auto;
      text-align: center;
      background-color: rgb(182, 182, 182);

      > p {
        position: relative;
        height: auto;
        width: auto;
        text-align: center;
        // margin: 0;
        font-weight: 600;
        font-size: 12px;
      }
  }

  .checkbox-container {
      text-align:center; 
      background-color:rgb(182, 182, 182);
      opacity: 0.6;

        >p {
            font-weight: bold;
            color: rgb(44, 44, 44);
        }
      
  }

  

  input[type=checkbox] {
    position: relative;
    opacity: 0;
    width: calc(100%);
    height: calc(100% );
    transform: translate(0);
    left: 0px;
    top: -100%;
    z-index: 3;
    margin: 0;
  }

  label { 
      >span {
        color: gray;
        font-size: 12px;
        font-style: italic;
        margin: 0 0 0 10px;
      }

  }



  //conditional error highlighting
.error-highlight {
    display: block;
    padding-bottom: 2px;
    // background-color: #dc3545;
    border-radius: 5px;
    // color: white;

    input[type=text], input[type=email]{
        outline-color: #dc3545 !important;

        ~ p {
            display: block;
            margin-block-start: 0;
            margin-block-end: 1em;
            margin-inline-start: 1em;
            margin-inline-end: 0px;
            
            font-size: 12px;
            color: #dc3545;
        }
    }
}

:focus {
    outline-color: lightskyblue;
}
  
.error-tag {
    color: white;
    font-size: 12px;
}

.gg-math-plus {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0;
}