#apply-hero {
  &:before {
    opacity: 0;
  }
}

.apply-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  min-width: 320px;

  .apply-section-info {
    width: 100%;
    height: auto;
    padding: 0px 20px 10px 20px;
    // background-color: lightskyblue;
    margin-bottom: 20px;

    .apply-section-title {
      padding-bottom: 10px;
    }

    .apply-section-info-body {
      line-height: 1.5em;

      ul {
        padding-left: 20px;
        li {
          list-style: disc;
        }
      }
    }
  }
}

.apply-form-container {
  position: relative;
  width: 100%;
  height: auto;
  border: 2px solid #049ef4;
  border-radius: 10px;
  margin-bottom: 30px;

  .contact-title-container {
    text-align: center;
    font-size: 1.5em;
  }

  #form-container {
    position: relative;
    width: 100%;
    height: auto;
    // background-color: lightcoral;
    overflow: hidden;

    #contact-form {
      position: relative;
      margin-top: 1em;
      padding-left: 20px;

      .form-inner-container {
        // background-color: slateblue;

        .field-name {
          display: block;
          margin-bottom: 3px;
        }
        input[type="text"],
        input[type="email"] {
          width: calc(100% - 20px);
          height: 35px;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding-left: 1em;
          margin-bottom: 10px;
        }

        textarea {
          width: calc(100% - 20px);
          height: 80px;
          border: 1px solid #ccc;
          border-radius: 5px;
          padding-left: 1em;
          padding-top: 1em;
          margin-bottom: 10px;
        }

        .form-submit-button-container {
          text-align: center;
          margin-top: 10px;
          margin-bottom: 20px;

          #contact-submit {
            width: 150px;
            height: 50px;
            padding: 10px 0 10px 0;
            font-size: 1.5em;
            text-transform: uppercase;
            border-radius: 25px;
            border: 2px solid #049ef4;
            background-color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .apply-info-container {
    max-width: 100%;
  }

  .apply-form-container {
    // background-color: rgb(71, 71, 71);

    #form-container {
      left: 50%;
      transform: translateX(-50%);
      // color: white;
      font-weight: bold;
    }
  }
}
