  #apply-hero {
    &:before {
      opacity: 0;
    }
  }

  .apply-info-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 420px;
  min-width: 320px;

  .apply-section-info {
    width: 100%;
    height: auto;
    padding: 0px 20px 10px 20px;
    // background-color: lightskyblue;
    margin-bottom: 20px;

    .apply-section-title {
      padding-bottom: 10px;
    }

    .apply-section-info-body {
      line-height: 1.5em;

      ul {
        padding-left: 20px;
        li {
          list-style: disc;
        }
      }
    }
  }
  }


  #employment-history {
    .form-container-group {
      // justify-content: flex-start;
      >p {
        margin: 0;
      }
    }
  }

  // .employment-history-block {
  //   > p {
  //     display: inline-block;
  //   }
  // }

  .employment-history-content-container {

    flex-direction: column;
    justify-content: center;
    border-radius: 5px;

    .employment-history-block {
      padding-left: 20px;
      margin-bottom: 80px;
      background-color: #2baddcc0;
      border-radius: 0 0 5px 5px;
    }

  }

  


  .job-key {
    position: relative;
    display: flex;
    justify-content: center;
    justify-items: center;
    // transform:translateY(-40px);
    font-size: 24px;
    width: auto;
    height: 40px;
    border-radius: 5px 5px 0 0;
    background-color: black;
    color: white;
    z-index: 1;

    > p {
      margin: 0;
    }
  }


@media screen and (min-width: 768px) {
  .apply-info-container {
    max-width: 100%;
  }

  .apply-form-container {
    // background-color: rgb(71, 71, 71);

    #form-container {
      left: 50%;
      transform: translateX(-50%);
      // color: white;
      font-weight: bold;
    }
  }
}
