.cta-apply-container {
  position: relative;
  // background-color: lightgreen;
  text-align: center;
  margin-top: 20px;
  max-width: 420px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 40px;

  .cta-button-apply {
    position: relative;
    width: 165px;
    height: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    border-radius: 5px;
    text-align: center;

    &:hover {
      cursor: pointer;
    }

    > h2 {
      padding-top: 10px;
      font-size: 30px;
      font-weight: 1000;
      color: white;
    }
  }
}
