.navbar-container {
  position: fixed;
  width: 100%;
  height: 80px;
  //   background-color: #323232;
  z-index: 9999;

  .navbar-content {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    .tce-logo {
      width: 80px;

      > img {
        background-size: cover;
        width: 100%;
      }
    }

    .company-name {
      margin-left: 10px;
      display: inline-block;
      width: 220px;
      > h1 {
        color: white;
        font-size: 16px;
      }
    }

    .nav-button {
      width: 50px;
      height: 50px;

      &:hover {
        cursor: pointer;
      }

      .gg-menu-boxed {
        left: 50%;
        top: 50%;
        color: white;
        transform: translate(-50%, -50%) scale(var(--ggs, 2));
      }
    }

    .nav-links-container {
      display: none;
    }
  }
}

.mobile-menu-container {
  position: fixed;
  opacity: 0;
  left: 100%;
  // transform: translateX(-100%);
  width: 175px;
  height: 100vh;
  margin-top: 80px;
  background-color: #3f3f3f;
  z-index: 9999;

  .mobile-nav-container {
    position: relative;
    width: calc(100%);
    margin-left: auto;
    height: 300px;
    // background-color: lightgrey;

    ul {
      text-align: center;
      padding-top: 30px;
      > li {
        font-weight: bold;
        margin-bottom: 1.3em;
        color: white;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar-container {
    max-width: 1120px;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);

    .navbar-content {
      .nav-button {
        display: none;
      }

      .company-name {
        padding-top: 1em;
        // background-color: lightskyblue;
        width: auto;
      }

      .nav-links-container {
        display: inline-block;
        width: 420px;
        height: 2em;
        // background-color: lightblue;

        > ul {
          display: flex;
          justify-content: space-evenly;
          margin: 0;
          padding: 0;
          padding-top: 1em;

          > li {
            color: white;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
